.ball {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: auto;
    background: linear-gradient(90deg, rgba(3, 0, 60, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
    position: relative;
    animation-name: ball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

.shadow {
    margin: auto;
    margin-top: 365px;
    box-shadow: 0px 5px 20px 5px gray;
    position: relative;
    border-radius: 130px;
    width: 110px;
    height: 110px;
    transform: scale(2, .3);
    background: linear-gradient(90deg, rgba(58, 58, 59, 1) 0%, rgba(132, 132, 135, 1) 0%, rgba(87, 89, 89, 1) 100%);
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes ball {
    from {
        top: -1000px;
    }
    to {
        top: 400px;
    }
}

@keyframes shadow {
    from {
        width: 10px;
        height: 10px;
    }
    to {
        width: 110px;
        height: 110px;
    }
}